.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem; /* Ajuste para responsividad */
  border: none;
  background: none;
  cursor: pointer;
}

#openFormBtn {
  background: transparent;
  border: none;
  color: #1e5e17;
  font-size: 4vw; /* Ajuste para responsividad */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2vw; /* Ajuste para responsividad */
}

#openFormBtn i {
  color: inherit;
}

#openFormBtn:hover {
  text-decoration: underline;
}

form label,
form input,
form textarea,
form button {
  display: block;
  width: 100%;
  margin-bottom: 1rem; /* Ajuste para responsividad */
  font-size: 1rem;
}

form input,
form textarea {
  padding: 0.8rem; /* Ajuste para responsividad */
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button[type="submit"] {
  background-color: #64bcae;
  color: white;
  border: none;
  padding: 0.8rem; /* Ajuste para responsividad */
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #3ea795;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .modal-content {
    padding: 1.5rem; /* Reducir padding en pantallas pequeñas */
    max-width: 90%; /* Ajustar ancho máximo */
  }

  #openFormBtn {
    font-size: 20px; 
  }

  form label,
  form input,
  form textarea,
  form button {
    font-size: 0.9rem; /* Reducir tamaño de fuente */
  }

  form input,
  form textarea {
    padding: 0.6rem; /* Reducir padding */
  }

  form button[type="submit"] {
    padding: 0.6rem; /* Reducir padding */
  }
}
