.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro translúcido */
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 23px border: none;
  background: none;
  cursor: pointer;
}

#openFormBtn {
  background: transparent;
  border: none;
  color: #1e5e17;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}

#openFormBtn i {
  color: inherit;
}

#openFormBtn:hover {
  text-decoration: underline;
}

form label,
form input,
form textarea,
form button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 19px;
  margin-right: auto;
}

form input,
form textarea {
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button[type="submit"] {
  background-color: #64bcae;
  color: white;
  border: none;
  padding: 0.8rem;
  /* Ajuste para responsividad */
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #3ea795;
}

/* RESPONSIVE*/

@media (max-width: 768px) {

  .modal-content {
    display: flex;
    flex-direction: column;
    width: 83%;
  }


  #openFormBtn {
    font-size: 20px;
  }

  form label,
  form input,
  form textarea,
  form button {
    font-size: 15px;
    width: 90%;
  }


  form button[type="submit"] {
    padding: 15px
  }
}