/* ESTILO GENERAL */

@keyframes colorFan {
    0% {
        color: #1e5e17;
    }

    25% {
        color: #236b2e;
    }

    50% {
        color: #2b8a4a;
    }

    75% {
        color: #3fae6a;
    }

    100% {
        color: #1e5e17;
    }
}

/* Hace que body llene toda la altura de la pantalla */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  /* El contenido ocupa todo el espacio disponible menos el footer */
.pagina {
    flex: 1;
  }