/* ESTILO GENERAL */

@keyframes colorFan {
    0% {
        color: #1e5e17;
    }

    25% {
        color: #236b2e;
    }

    50% {
        color: #2b8a4a;
    }

    75% {
        color: #3fae6a;
    }

    100% {
        color: #1e5e17;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F2F1;
}
  
  /* Fondo semitransparente solo con el logo */
  .fondo-logo::before {
    content: "";
    position: absolute;
    top: 5;
    left: 0;
    right: 0;
    height: 700px; /* Ajusta la altura del fondo si quieres más/menos área visible */
    background-image: url('imagenes/logo.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 700px auto;
    opacity: 0.07;
    z-index: 0;
    pointer-events: none; /* Evita interferencias con clics */
  }
  
  .fondo-logo {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima del fondo */
    padding-top: 50px;
  }

  /* Asegura que el contenido esté encima del fondo */
  .fondo-logo > * {
    position: relative;
    z-index: 1;
  }
  
  









