header {
  justify-content: center;
  height: 75px;


  h1 {
    font-size: 21px;
    margin: 0;
    text-align: center;
  }

  .texto-boton {
    display: none;
  }

  .logo {
    width: 93px;
    height: auto;
  }

  .contact-links {
    font-size: 1.5rem;
    display: flex;
    gap: 5px;
  }

  .contact-links a.instagram-link i {

    font-size: 37px;
  }


}

nav {

  display: flex;
  flex-direction: column;

  & span {
    display: none;
  }

  .barra-controles {
    flex-direction: column; 
    align-items: stretch; 
    gap: 10px; 
  }

  .texto-boton {
    display: none;
  }

  .filtro {
    margin-bottom: 10px;
  }

  button {
    display: inline-block;
    height: 3rem;
    border-radius: 43%;
    font-size: 16px;
    margin-top: 10px; /* Ensure buttons are below the filter */
  }

  
  }

  main {

    /* CLIMA*/

    #clima {
      padding: 19px;
      margin: 15px auto;
    }

    #clima.active {
      display: flex;
    }

    .dia-clima {
      width: 145px;
      height: 173px;
      margin: 3px 10px;
    }

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h3,
    strong,
    p {
      font-size: 17px;
    }

    /*MAPA*/

    #container-mapa {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      padding: 0;
      position: relative;
    }

    #mapa {
      width: 984px;
      height: 400px;
      margin: 51px auto;
      border-radius: 10px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      display: block;
    }

  footer {
    padding: 5px;
  }
}