
.actividades-lista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 65px; 
  margin: 20px;
  margin-bottom: 100px;
}



h3.favoritos-ciudad-titulo {
  font-size: 21px;
  color: #1e5e17;
  margin-bottom: 20px;
  text-align: left;
}



/* RESPONSIVE*/

@media (max-width: 768px) {
  .actividades-lista {
    gap: 3px; 
  }

}