html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* o overflow: auto */
  }


body {
    height: auto;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #beebe3;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pagina {
    flex: 1;
  }

main {
    flex: 1;
    overflow-y: scroll;

    &::before {
        content: "";
        position: absolute;
        top: 43px;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../imagenes/logo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 43%;
        opacity: 0.10;
        z-index: 0;
        pointer-events: none;
    }
}
   
@media screen and (width < 786px) {


    nav {

        display: flex;
        flex-direction: column;

        & span {
            display: none;
        }
    }
}
