button {
    display: inline-block;
    margin-left: 50px;
    width: 200px;
    padding: 10px;
    background-color: #64bcae;
    color: #1e5e17;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.filtro-botones {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-bottom: 45px;
    margin-top: 15px;
    margin-left: 19px;
}

.button.favoritos {
    border: 2px solid red;
}

.button.favoritos .icon svg {
    color: red;
}

@media screen and (max-width: 786px) {
    .filtro-botones {
        flex-direction: column;
        /* Apila el filtro y los botones */
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
    }

    .botones-container {
        display: flex;
        flex-direction: row;
        /* Los botones estarán uno al lado del otro */
        justify-content: center;
        gap: 10px;
        flex-wrap: nowrap;
        /* Evita que se bajen a otra línea */
        width: 100%;
    }

    button {
        font-size: 9px;
        padding: 8px 16px;
        height: auto;
        border-radius: 9px;
        white-space: nowrap;
        /* Evita que el texto se parta en dos líneas */
        display: inline-block;
        /* Asegura que los botones estén en línea horizontal */
    }
}