button {
    display: inline-block;
    margin-left: 50px;
    width: 200px;
    padding: 10px;
    background-color: #64bcae;
    color: #1e5e17;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.filtro-botones {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 45px;
    margin-bottom: 45px;
}

#verFavoritosBtn {
    display: inline-block;
    margin-left: 50px;
    width: 200px;
    padding: 10px;
    background-color: #64bcae;
    color: #1e5e17;
       border: 2px solid red;
     text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#verFavoritosBtn i {
    color: red;
    /* corazón rojo */
    font-size: 18px;
}


@media screen and (max-width: 786px) {
    .filtro-botones {
        flex-direction: column; /* Apila el filtro y los botones */
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
    }

    .botones-container {
        display: flex;
        flex-direction: row; /* Los botones estarán uno al lado del otro */
        justify-content: center;
        gap: 10px;
        flex-wrap: nowrap; /* Evita que se bajen a otra línea */
        width: 100%;
    }

    button {
        font-size: 9px;
        padding: 8px 16px;
        height: auto;
        border-radius: 9px;
        white-space: nowrap; /* Evita que el texto se parta en dos líneas */
        display: inline-block; /* Asegura que los botones estén en línea horizontal */
    }
}