
  
  .favoritos-lista {
    margin-top: 20px;
  }
  
  .favoritos-por-ciudad {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
  }

  
  .favoritos-por-ciudad h2 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: #005ea2; 
    text-transform: capitalize;
    margin-left: 25px; 

  .favoritos-por-ciudad .actividades-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: flex-start;
  }
  