header {
    position: relative;
    display: flex;
    align-items: center;
    height: 123px;
    background-color: #64bcae;
    padding: 10px 30px;
  }
  
  .logo-titulo {
    z-index: 2;
  }
  
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 55px;
    color: #1e5e17;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
  .contact-links {
    margin-left: auto;
    z-index: 2;
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    align-items: center;
  }
  
@media screen and (width < 786px) {


    header {
        justify-content: center;
        height: 75px;


        h1 {
            font-size: 21px;
            margin: 0;
            text-align: center;
        }

        .texto-boton {
            display: none;
        }

        .logo {
            width: 93px;
            height: auto;
        }

        .contact-links {
            font-size: 1.5rem;
            display: flex;
            gap: 5px;
        }

        .contact-links a.instagram-link i {

            font-size: 37px;
        }
    }

    }