header {
    position: relative;
    display: flex;
    align-items: center;
    height: 123px;
    background-color: #64bcae;
    padding: 10px 30px;
}

.logo-titulo {
    z-index: 2;
}

.logo {
    width: 121px;
    height: auto;
    margin-top: 23px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 55px;
    color: #1e5e17;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-links {
    margin-left: auto;
    z-index: 2;
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    align-items: center;
}

.instagram-link {
    color: #E1306C;
    font-size: 39px;
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
}
.email-link {
    color: #1e5e17;
    border: none;
    font-size: 37px;
       margin: -57px;
}

@media screen and (width < 786px) {

    header {
           height: 71px;
    }

    h1 {
        font-size: 27px;
        margin: 0;
        text-align: center;
    }


    .logo {
        width: 81px;
        height: auto;
        margin-left: -19px;
    }

    .contact-links {
        display: flex;
        gap: 1px;
        margin-right: -15px;
    }
   
    .instagram-link {
        font-size: 31px;
    }

    .email-link {
        font-size: 25px;
    }
}
