
.mapa {
    width: 984px;
    height: 400px;
    margin: 51px auto;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: block;
  }



@media screen and (width < 786px) {

    .mapa {
        width: 95%;
        height: 250px;
        margin: 10px auto;
      }


}
