
.mapa {
    width: 80%;           
    max-width: 600px;   
    height: 300px;     
    margin: 20px auto;  
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }

#contenedorMapa {
    display: none;
}


@media screen and (width < 786px) {

    .mapa {
        width: 95%;
        height: 250px;
        margin: 10px auto;
      }

#contenedorMapa {
    display: none;
}

}
