
#formModal {
    display: flex; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
    max-width: 25%; 
    height: auto;
    background-color: #64bcae;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenedor del contenido del modal */
#formModal .modal-content {
       padding: 1.5rem;
    border-radius: 10px;
    min-width: 320px;
    max-width: 90vw;
    position: relative;
    
}

/* Botón cerrar (la X) */
#closeFormBtn {
    position: absolute;
    top: 0.5rem;
    left: 265px; 
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

#h2 {
    text-align: center;
    color: #1e5e17;
    font-size: 20px;
    margin-bottom: 15px; 
}

#formModal form label {
    display: block;
    margin-bottom: 0.8rem;
    font-weight: 600;
}

#formModal form input {
    width: 100%;
    padding: 0.4rem 0.6rem;
    font-size: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem; /* Reducir margen inferior para menos espacio entre inputs */
    border: 1px solid #ccc;
    border-radius: 6px;
    justify-content: center;
}

#formModal form button[type="submit"] {
    background-color: #64bcae;
    color: #1e5e17;
    border: 2px solid #1e5e17; 
    border-radius: 8px;
    padding: 0.4rem 0.6rem; 
    font-size: 16px; 
    display: block; 
    margin: 0 auto 1rem; 
}

#formModal form button[type="submit"]:hover {
    background-color: #4ca58e;
}


@media (max-width: 768px) {
    #formModal {
        width: 90%;
        max-width: 90%;
    }

    #formModal .modal-content {
        padding: 1rem; 
    }

    #closeFormBtn {
        font-size: 1.4rem; 
    }

    #formModal form input {
        font-size: 15px;
    }

    #formModal form button[type="submit"] {
        font-size: 1rem; /* Reducir tamaño de fuente */
        padding: 0.6rem 1rem; /* Ajustar padding */
    }
}

